#cloud-config

# This YAML file is for cloud-config and is run once at instance creation

# Set the hostname
hostname: "{{ servis }}-{{ type }}"
# Set our hostname in /etc/hosts too
manage_etc_hosts: true

# Commands to add a randomized string to the hostname, to prevent duplicate hostnames in a cluster
runcmd:
  - echo "Sleeping 10 seconds to let cloud-init's own hostname/hosts changes settle..."
  - sleep 10
  - old_hostname="$(cat /etc/hostname)"
  - echo "The value of old_hostname is qq${old_hostname}qq"
  - hostname_randomizer="$(cat /dev/urandom | tr -dc 'a-z0-9' | head -c5)"
  - echo "The value of hostname_randomizer is qq${hostname_randomizer}qq"
  - hostnamectl set-hostname --transient --static "{{ servis }}-{{ type }}-${hostname_randomizer}"
  - hostnamectl set-hostname --transient ""
  - new_hostname="$(cat /etc/hostname)"
  - echo "The value of new_hostname is qq${new_hostname}qq"
  - sed -i "s/${old_hostname}/${new_hostname}/g" /etc/hosts

